<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dating Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

<div class="jumbotron text-left" id="topHeader">
    <h1>My Dating Website</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>My Dating Website</h2>
            <p>Welcome to the web's most successful dating website.
            At <strong>My Dating Website</strong> you'll meet another
            like minded individuals. We have the highest success
            rate of couples on the web. User's are matched by
            interest and location. Find out why so many others have found
            love on our site!</p><br>
            <h4>Hear what our users are saying about us.</h4><br>

            <div class="quotes">
                <p>"<em>I met the love of my life after only a month!</em>" - Andrea</p>
                <p>"<em>It was so easy to set up and profile and start meeting
                people. I didn't realize how many others were looking
                for love in my area.</em>" -John Smith</p>
                <p>"<em>Just try it! You'll never be the same!</em>" - Sarah</p>
            </div>

            <div class="button">
                <button type="button" id="button">Create a Profile!</button>
            </div>

        </div>
        <div class="col-sm-6">
            <img src="images/date.jpg">
        </div>
    </div>
</div>

</body>
</html>