<!-- Alvin Nava
    4/13/19
    info.html
    This file is a personal info form for a dating website
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dating Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/info.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

<div class="bar">
    <nav class="navbar navbar-light bg-light" id="nav">
        <a class="navbar-brand" href="home">My Dating Website</a>
    </nav>
</div>
<br>
<br>



<div class="container">
    <br>
    <h2 class="indentHead">Personal Information</h2>
    <div class="row">
        <div class="col-sm-8">

            <form method="post" action="#">
                <div class="form-group">
                    <label for="formGroupExampleInput"><strong>First Name</strong></label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="firstname" value="{{ @firstname }}">
                    <check if="{{ @errors['firstname'] }}">
                        <span>{{ @errors['firstname'] }}</span>
                    </check>
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput2"><strong>Last Name</strong></label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" name="lastname" value="{{ @lastname }}">
                    <check if="{{ @errors['lastname'] }}">
                        <span>{{ @errors['lastname'] }}</span>
                    </check>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput3"><strong>Age</strong></label>
                    <input type="text" class="form-control" id="formGroupExampleInput3" name="age" value="{{ @age }}">
                    <check if="{{ @errors['age'] }}">
                        <span>{{ @errors['age'] }}</span>
                    </check>
                </div>

                <label><strong>Gender</strong></label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Male">
                    <label class="form-check-label" for="exampleRadios1">
                        Male
                    </label>

                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Female">
                    <label class="form-check-label" for="exampleRadios2">
                        Female
                    </label>
                </div>
                <div class="form-group">
                    <br>
                    <label for="formGroupExampleInput4"><strong>Phone Number</strong></label>
                    <input type="text" class="form-control" id="formGroupExampleInput4" name="number" value="{{ @number }}">
                    <check if="{{ @errors['number'] }}">
                        <span>{{ @errors['number'] }}</span>
                    </check>
                </div><br>

                <label><strong>Premium Membership</strong></label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="premium" id="premium" name="premium"
                    <check if="{{ @premium === 'premium' }}">checked</check>>
                    <label class="form-check-label" for="premium">
                        Sign me up for a Premium Account!
                    </label>
                </div><br><br><br>

                <div class="row button">
                    <input type="submit" value="Next>" class="btn btn-primary float-right bottomMargin">
                </div>
            </form>

        </div>


        <div class="col-sm-4">

            <div id="note" class="border rounded alert alert-secondary">
                <p><strong>Note:</strong> All information entered is protected
                    by our <span class="blue">privacy policy</span>. Profile information can only be viewed by others
                    with your permission.</p>
            </div>


        </div>
    </div>
</div>





</body>
</html>



