<!-- Alvin Nava
    4/13/19
    interests.html
    This file is a homepage for a dating website
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dating Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="styles/styles.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

<div class="bar">
    <nav class="navbar navbar-light bg-light" id="nav">
        <h4>My Dating Website</h4>
    </nav>
</div>
<br>
<br>



<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <br>
            <h2 class="indentHead">Interests</h2>
            <hr>




            <label><strong>In-door Interests</strong></label>

            <div class="row">
                <div class="column">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="interest">
                        <label class="form-check-label" for="defaultCheck1">
                            tv
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" name="interest">
                        <label class="form-check-label" for="defaultCheck2">
                            puzzles
                        </label>
                    </div>
                </div>



                <div class="column">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" name="interest">
                        <label class="form-check-label" for="defaultCheck3">
                            movies
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck4" name="interest">
                        <label class="form-check-label" for="defaultCheck4">
                            reading
                        </label>
                    </div>
                </div>



                <div class="column">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck5" name="interest">
                        <label class="form-check-label" for="defaultCheck5">
                            cooking
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck6" name="interest">
                        <label class="form-check-label" for="defaultCheck6">
                            playing cards
                        </label>
                    </div>
                </div>



                <div class="column">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck7" name="interest">
                        <label class="form-check-label" for="defaultCheck7">
                            board games
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck8" name="interest">
                        <label class="form-check-label" for="defaultCheck8">
                            video games
                        </label>
                    </div>
                </div>
            </div>


            <br>
            <label><strong>Out-door Interests</strong></label>

            <div class="row">
                <div class="column">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck9" name="interest">
                        <label class="form-check-label" for="defaultCheck9">
                            hiking
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck10" name="interest">
                        <label class="form-check-label" for="defaultCheck10">
                            walking
                        </label>
                    </div>
                </div>


                <div class="column">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck11" name="interest">
                        <label class="form-check-label" for="defaultCheck11">
                            biking
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck12" name="interest">
                        <label class="form-check-label" for="defaultCheck12">
                            climbing
                        </label>
                    </div>
                </div>


                <div class="column">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck13" name="interest">
                        <label class="form-check-label" for="defaultCheck13">
                            swimming
                        </label>
                    </div>
                </div>



                <div class="column">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck14" name="interest">
                        <label class="form-check-label" for="defaultCheck14">
                            collecting
                        </label>
                    </div>
                </div>


            </div>


            </div>


        <div class="col-sm-2">
            <div class="button">
                <form method="post" action="summary">
                    <input type="submit" value="Next>">
                </form>
            </div>
        </div>





    </div>
</div>


</body>
</html>