<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="styles/summary.css">
    <link rel="stylesheet" href="styles/styles.css">

    <title>Summary</title>
</head>
<body>

<div class="bar">
    <nav class="navbar navbar-light bg-light" id="nav">
        <a class="navbar-brand" href="home">My Dating Website</a>
        <a class="navbar-brand" href="admin">Admin</a>
    </nav>
</div>
<br>
<br>

<div class="container border rounded">
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div id="profileSum" class="border rounded">
                <p class="indentP">Name: {{ $_SESSION['member']->getFname() }} {{ $_SESSION['member']->getLname() }}</p>
                <hr>
                <p class="indentP">Gender: {{ $_SESSION['member']->getGender() }}</p>
                <hr>
                <p class="indentP">Age: {{ $_SESSION['member']->getAge() }}</p>
                <hr>
                <p class="indentP">Phone: {{ $_SESSION['member']->getPhone() }}</p>
                <hr>
                <p class="indentP">Email: {{ $_SESSION['member']->getEmail() }}</p>
                <hr>
                <p class="indentP">State: {{ $_SESSION['member']->getState() }}</p>
                <hr>
                <p class="indentP">Seeking: {{ $_SESSION['member']->getSeeking() }}</p>
                <check if="{{ $_SESSION['member'] instanceOf PremiumMember }}">
                    <hr>
                    <p class="indentP">Interests: {{ implode(', ', $_SESSION['member']->getInDoorInterests() )}},
                        {{ implode(', ', $_SESSION['member']->getOutDoorInterests()) }}</p>
                </check>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="text-center">
                <img src="images/profilePicture.jpg" alt="Profile Picture" id="image">
            </div>
            <p class="enlarge">Biography</p>
            <p class="text-center">{{ $_SESSION['bio'] }}</p>
        </div>
    </div><br>

    <div class="row">
        <div class="col-sm-12 text-center">
            <button class="btn btn-primary bottomMargin button" id="submitButton">Contact Me!</button>
        </div>
    </div><br>
</div>

</body>
</html>