<!-- Alvin Nava
    4/13/19
    summary.html
    This file is a homepage for a dating website
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dating Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/summary.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

<div class="bar">
    <nav class="navbar navbar-light bg-light" id="nav">
        <h4>My Dating Website</h4>
    </nav>
</div>
<br>
<br>



<div class="container border rounded"><br>
    <div class="row">
        <div class="col-sm-6">
            <div id="profileSum" class="border rounded">
                <label>Name: </label><p>{{ @SESSION.firstname }} {{ @SESSION.lastname }}</p>
                <hr>
                <label>Gender: </label><p>{{ @SESSION.gender }}</p>
                <hr>
                <label>Age: </label><p>{{ @SESSION.age }}</p>
                <hr>
                <label>Phone: </label><p>{{ @SESSION.number }}</p>
                <hr>
                <label>Email: </label><p>{{ @SESSION.email }}</p>
                <hr>
                <label>State: </label><p>{{ @SESSION.state }}</p>
                <hr>
                <label>Seeking: </label><p>{{ @SESSION.exampleRadiosSeeking }}</p>
                <hr>
                <label>Interests: </label><p>{{ @SESSION.interest }}</p>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="text-center">
                <img src="images/profilePicture.jpg" alt="Profile Picture">
            </div>
            <label>Biography</label>
            <p class="text-center">{{ @SESSION.bio }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <input type="submit" value="Contact Me!" class="btn btn-primary bottomMargin">
        </div>
    </div>
</div>

</body>
</html>