#button {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgb(31,112,206);
    border: 2px solid;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.indentHead {
    text-indent: 5px;
}

#exampleRadios1, #exampleRadios2 {
    clear: both;
    float: left;
}

.blue {
    color: blue;
}