#button {
    background-color: rgb(31,112,206);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin-left: 30%;
    margin-right: 30%;
}

#picture {
    border-radius: 8px;
    width: 460px;
    height: 460px;
    padding: 15px;
    position: relative;
    float: left;
}

#nav {
    padding-bottom: 10px;
}

.indent {
    text-indent: 30px;
}

.indenting {
    text-indent: 80px;
}

.container {
    border: 1px solid black;
    width: 100%;
}

.bar {

}

body {

}