.button {
    left: 50px;
}

.indentP {
    padding-left: 15px;
    padding-top: 10px;
}

.enlarge {
    font-size: 18px;
    padding-top: 15px;
}

#submitButton {
    padding-top: 20px;
}

#image {
    border-radius: 8px;
}